.offcanvas{
  visibility: visible !important;
}
#offcanvasEnd {
  background-image: url("../public/images/bg/pattern/03.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}