@import "../assets/scss/style.scss";
// import bootstrap icons
@import "~bootstrap-icons/font/bootstrap-icons.css";
// import fontawesome icons
//@import "font-awesome/scss/font-awesome.scss";

@import "../components/header/header";
@import "../assets/vendor/font-awesome/css/all.min.css";
@import "../assets/vendor/animate/animate.min.css";
@import "tiny-slider/dist/tiny-slider.css";

// Create set of relative positioning utilities
$left: "left";
$right: "right";
$top: "top";
$bottom: "bottom";
$positions: ($left, $right, $top, $bottom);

@mixin position-object(
  $type: "relative",
  $shift_direction: $left,
  $shift_value: 0
) {
  .relative-#{ $shift_direction }-#{ $shift_value } {
    position: #{$type};
    // If shiftDirection is left or right, set left or right
    @if $shift_direction == $left or $shift_direction == $top {
      #{ $shift_direction }: #{"-" + $shift_value}px;
    } @else {
      #{ $shift_direction }: #{$shift_value}px;
    }
  }
}

@mixin transparent-bg-color($color, $value) {
  background-color: rgba($color, $value);
}

// Generate 25 relative positioning utilities
@each $position in $positions {
  @for $i from 1 through 25 {
    //
    @include position-object("relative", $position, $i);
  }
}

.overall {
  position: relative;
  left: -25px;
}

.offcanvas-end.show {
  animation: 20s fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  90% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fadeOut {
  80% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* Shopping Cart */

.btn-cart-icon {
  span {
    width: 4rem;
    pointer-events: none;
  }
  .number-badge[data-icon-content]:after {
    position: absolute;
    right: 15%;
    top: 20%;
    content: attr(data-icon-content);
    font-size: 40%;
    padding: 0.2em;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    @include transparent-bg-color($primary, 0.85);
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
  }
  .number-badge i {
    color: $secondary;
    pointer-events: none;
  }

  .number-badge {
    width: 4rem;
    height: 4rem;
    :hover {
      @include transparent-bg-color(#fff, 0.3);
      border: 1px solid $primary;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.85rem;
      //opacity: 0;
      //transition: opacity 0.3s 0.85s;
    }
  }
}
.btn-cart-icon:hover {
  font-size: 1.35rem;
}

.action-container {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: right;
  align-items: center;

  z-index: 1000;
}
